<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.sibmentor.appointment">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/MaterialTheme.Light.TranslucentStatus"

            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.sibmentor.appointment.MentorList"
                  android:screenOrientation="portrait"
                  android:label="@string/Mentor_List">
        </activity>
        <activity android:name="com.sibmentor.appointment.Mentor_refer"
                  android:label="Refer Page"
        >
        </activity>
        <activity android:name="com.sibmentor.appointment.BuyMeACoffee">
        </activity>
        <activity android:name="com.sibmentor.appointment.passwordReset"
                  android:screenOrientation="portrait"
                  android:label="Password Reset">
        </activity>
        <activity android:name="com.sibmentor.appointment.UserPassUpdate"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.sibmentor.appointment.UserEmailUpdate"
                  android:screenOrientation="portrait"
                  android:label="Email Update">
        </activity>
        <activity android:name="com.sibmentor.appointment.UserPhoneVerify"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.sibmentor.appointment.UserProfile"
                  android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="com.sibmentor.appointment.mentorShowSlotActivity"
                android:label="Manage Session"
                android:theme="@style/CustomTheme">
        </activity>
        <activity
                android:name="com.sibmentor.appointment.UserHomeV2"
                android:screenOrientation="portrait"
                android:label="@string/title_activity_user_home_v2"
                android:theme="@style/CustomTheme">
        </activity>
        <activity android:name="com.sibmentor.appointment.MentorRegistration">
        </activity>
        <activity android:name="com.sibmentor.appointment.student_show_reserved_slot_Activity"
            android:screenOrientation="portrait"
            android:label="Your Booking">
        </activity>
        <activity
                android:name="com.sibmentor.appointment.AppointmentList2"
                android:label="@string/title_appointmentList">
        </activity>
        <activity
                android:name="com.sibmentor.appointment.AboutDeveloper"
                android:label="@string/title_aboutdeveloper">
        </activity>
        <activity
                android:name="com.sibmentor.appointment.Mentorhomev2"
                android:screenOrientation="portrait"
                android:label="@string/title_activity_mentorhomev2"
                android:theme="@style/CustomTheme"/>
        <activity
                android:name="com.sibmentor.appointment.MentorSlotList"
                android:screenOrientation="portrait"
                android:label="@string/title_activity_locallist">
        </activity>
        <activity
                android:name="com.sibmentor.appointment.addSlotActivity"
                android:screenOrientation="portrait"
                android:label="@string/title__addslot"/>
        <activity
                android:name="com.sibmentor.appointment.UserHome"
                android:screenOrientation="portrait"
                android:label="Book Slots">
        </activity>
        <activity
                android:name="com.sibmentor.appointment.UserSignup"
                android:screenOrientation="portrait"
                android:label="@string/title_activity_user_signup">
        </activity>
        <activity
                android:name="com.sibmentor.appointment.MainActivity"
                android:screenOrientation="portrait"
                android:label="@string/title_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="083f6fb393aa269d22adb689b652fa6ca6797187"/>
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>